<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Shopping Website</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/products.html">Products</a></li>
                <li><a href="../pages/cart.html">Cart</a></li>
                <li><a href="../pages/login.html">Login</a></li>
                <li><a href="../pages/signup.html">Signup</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>